.header__lang-link_active {
  text-decoration: underline;
}

.header__lang-link_active:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .header__lang-link_active {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
