.cover {
  background-image: url(../../images/__background.jpg);
  position: relative;
  max-width: 1184px;
  min-width: 320px;
  margin: 0 48px;
  background-repeat: no-repeat;
  min-height: 740px;
}
