.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(42, 44, 47,0.3);
  height: 100%;
  width: 100%;
  transition: 0.2s;
  text-decoration: none;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47,0.8);
}

